<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.relayflow.module.calendar.dal.mapper.CalEventMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.relayflow.module.calendar.dal.dataobject.CalEventDO">
        <result column="id" property="id" />
        <result column="tenant_id" property="tenantId" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="updater" property="updater" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
        <result column="calendar_id" property="calendarId" />
        <result column="title" property="title" />
        <result column="description" property="description" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="all_day" property="allDay" />
        <result column="organizer_id" property="organizerId" />
        <result column="remind_before_minutes" property="remindBeforeMinutes" />
        <result column="all_day_remind_time" property="allDayRemindTime" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        tenant_id,
        creator,
        create_time,
        updater,
        update_time,
        deleted,
        calendar_id, title, description, start_time, end_time, all_day, organizer_id, remind_before_minutes, all_day_remind_time, status
    </sql>

</mapper>
