<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.relayflow.module.infra.dal.mapper.InfraNotifyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.relayflow.module.infra.dal.dataobject.InfraNotifyDO">
        <result column="id" property="id" />
        <result column="tenant_id" property="tenantId" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="updater" property="updater" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
        <result column="user_id" property="userId" />
        <result column="mobile" property="mobile" />
        <result column="type" property="type" />
        <result column="title" property="title" />
        <result column="body" property="body" />
        <result column="payload_json" property="payloadJson" />
        <result column="read_flag" property="readFlag" />
        <result column="dedupe_key" property="dedupeKey" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        tenant_id,
        creator,
        create_time,
        updater,
        update_time,
        deleted,
        user_id, mobile, type, title, body, payload_json, read_flag, dedupe_key
    </sql>

</mapper>
