<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.relayflow.module.infra.dal.mapper.InfraStorageProviderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.relayflow.module.infra.dal.dataobject.InfraStorageProviderDO">
        <result column="id" property="id" />
        <result column="tenant_id" property="tenantId" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="updater" property="updater" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
        <result column="provider" property="provider" />
        <result column="status" property="status" />
        <result column="is_default" property="isDefault" />
        <result column="config_json" property="configJson" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        tenant_id,
        creator,
        create_time,
        updater,
        update_time,
        deleted,
        provider, status, is_default, config_json
    </sql>

</mapper>
